.center
{
	width: 80%;
	text-align: center;
	margin:auto; 
}

#form
{
	width: 80%;
	padding: 2%;
	margin: auto; 
}
button
{
	display: block;
	width: 50%;
	padding: 1%;
	border-radius: 10px;
	border: none;
	margin: 5% auto;
	background-color: #6F1E51;
	color: #ffffff;
}
button:hover
{
	cursor: pointer;
	box-shadow: 2px 2px 5px #cdcdcd;
	font-size: 16px;
}

input
{
	width: 50%;
	padding: 1%;
	border-radius: 10px;
	border: 1px solid #eaeaea;
	margin: 0% 3%;
}
label
{
	margin: 5%;
	text-align: center;
}
#title
{
	width: 80%;
	background-color: #6F1E51;
	color: #ffffff;
	height: auto;
	position: absolute;
	text-align: center;
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

#def
{
	padding: 2%;
	border: 1px solid #eaeaea;
	position: absolute;
	top: 54%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	z-index: -1;
}
.errorMsg
{
	color: red;
	font-size: 12px;
	display: block;
	margin: 1% 25%; 
}

@media only screen and (max-width: 800px)
{
	.center
	{
		margin-top: 5%;
	}
	#form
	{
		width: 100%;
	}
	button
	{
		width: 90%;
		padding: 2%;
		font-size: 16px;
	}
	input
	{
		width: 90%;
		padding: 2%;
	}
	label
	{
		display: block;
	}
	#result
	{
		margin-top: 10%;
	}
	#title
	{
		width: 90%;
		height: auto;
		position: absolute;
		text-align: center;
		padding: 2%;
		margin-left: 3%;
	}

	#def
	{
		padding: 2%;
		position: absolute;
		top: 43%;
		width: 90%;
		margin-left: 3%;
	}
	.errorMsg
	{
		font-size: 14px;
		text-align: center;
	}
	
}